.burger_constructor_list {
  composes: flex_column from global;
  gap: 10px;
  align-items: stretch;
}

.burger_constructor_list li div {
  background: var(--background);
}

.burger_constructor_draggable_list {
  composes: burger_constructor_list;
  composes: scroll from global;
  scroll-snap-type: y proximity;
  position: relative;
  margin-left: calc(var(--offset-base-size) * -4);
  left: calc(var(--offset-base-size) * 4);
  max-height: calc(100vh - 536px);
}

.burger_constructor_draggable_list_item {
  composes: flex_row from global;
  scroll-snap-align: start;
  justify-content: flex-start;
}

.burger_constructor_drag_icon {
  flex-shrink: 0;
  margin-right: calc(var(--offset-base-size) * 2);
}

.burger_constructor_order {
  composes: flex_row from global;
  justify-content: flex-end;

}

.burger_constructor_order svg {
  width: 33px;
  height: auto;
}

:global(.constructor-element__text) {
  min-height: 48px;
  width: 254px;
}

.warningText {
  text-align: center;
}